process.container = 'bluemoon222/palidis_dependencies:0.0.6'

params {
	get_candidate_itrs = false
	get_IS_annotations = false

	manifest = ""
	output_prefix = ""
	batch_name = "batch"
	include_IR_db = ""

	collect_annotations_script = "./bin/collect_IS_annotations.R"
	min_itr_length = 14
	kmer_length = 10
	split = 20
	cd_hit_G = 0
	cd_hit_aL = 0.0
	cd_hit_aS = 1.0
	cd_hit_A = "$min_itr_length"

	partition = "brc"
	clusterOptions = null
}

profiles {
	standard {
		docker {
			enabled = false
		}
		withName:palmem {
			cpus = 2
		}
		withName:mapReads {
			cpus = 2
		}
	}

	lsf {
		docker {
			enabled = false
		}

		singularity {
			enabled = true
			autoMounts = true
			cacheDir = "$PWD"
		}

		process {
			errorStrategy = { sleep(task.attempt * 200); return 'retry' }
      maxRetries = 1
			withName:convertToFasta {
				memory = '8000 MB'
				cpus = 4
				}
			withName:palmem {
				memory = '8000 MB'
				cpus = 32
				queue = 'long'
				}
			withName:buildDB {
				memory = '8000 MB'
				}
			withName:mapReads1 {
				memory = '4000 MB'
				cpus = 16
				}
			withName:mapReads2 {
				memory = '4000 MB'
				cpus = 16
				}
			withName:getCandidateITRs {
				memory = '16000 MB'
				}
			withName:clusterReads {
				memory = '4000 MB'
				cpus = 16
				}
			withName:getITRs {
				memory = '16000 MB'
				}
			withName:collectAnnotations {
				memory = '16000 MB'
				}
      }
		executor {
			name = "lsf"
			perJobMemLimit = true
      // Maximum number of jobs to spawn at once - adjust as necessary
      queueSize = 20
      jobName = { "pf_pipeline - $task.name - $task.hash" }
    }
	}
	rosalind {
		docker {
			enabled = false
		}
		process {
			withName:convertToFasta {
				memory = '8000 MB'
				cpus = 4
			      }
			withName:palmem {
				memory = '60 GB'
				cpus = 10
			      }
			withName:buildDB {
				memory = '8000 MB'
			}
			withName:mapReads1 {
				memory = '60 GB'
				cpus = 10
			}
			withName:mapReads2 {
				memory = '60 GB'
				cpus = 10
			}
			withName:getCandidateITRs {
				memory = '120 GB'
				cpus = 20
			}
			withName:clusterReads {
				memory = '60 GB'
				cpus = 10
			}
			withName:getITRs {
				memory = '16000 MB'
			}
			withName:collectAnnotations {
				memory = '16000 MB'
			}
		}
	}
	uppmax {
		params {
		  config_profile_description = 'Swedish UPPMAX cluster profile provided by nf-core/configs.'
		  config_profile_contact = 'Phil Ewels (@ewels)'
		  config_profile_url = 'https://www.uppmax.uu.se/'
		  project = null
		  clusterOptions = null
		  schema_ignore_params = "genomes,input_paths,cluster-options,clusterOptions,project"
		}

		singularity {
		  enabled = true
		}

		process {
		  executor = 'slurm'
		  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
		}

		params {
		  save_reference = true

		  max_memory = 125.GB
		  max_cpus = 16
		  max_time = 240.h
		  // illumina iGenomes reference file paths on UPPMAX
		  igenomes_base = '/sw/data/uppnex/igenomes/'
		}

		def hostname = "hostname".execute().text.trim()

		if (hostname ==~ "b.*" || hostname ==~ "s.*") {
		  params.max_memory = 109.GB
		}

		if (hostname ==~ "i.*") {
		  params.max_memory = 250.GB
		}

		if (hostname ==~ "r.*") {
		  params.max_cpus = 20
		}
}
